<div class = "depot_form">
	<% if flash[:alert] %>
	  <p id="notice"><%=flash[:alert] %></p>
	<% end %>

	<% form_tag do %>
	  <fieldset>
        <legend>Please Log In</legend>

        <div>
        	<%= lable_tag :name, 'Name:' %>
        	<%= text_feild_tag :name, params[:name] %>
        </div>
        <div>
         	<%= lable_tag :password, 'Password:' %>
        	<%= password_feild_tag :password, params[:password] %>
        </div>
        <div>
         	<%= submit_tag "Login" %>
        </div>
	  </fieldset>
	<% end %>
</div>