 <!--<%= form_tag do %>
 <div class = "city-group">
<%-
  province = '440000'
  city = '440300'
  district = '440305'
  provinces  = ChinaCity.list
  cities     = ChinaCity.list(province)
  districtes = ChinaCity.list(city)
%>
<div class='rails-helper city-group'>
  <div class="field">
    
  <%= select_tag @order.province, options_for_select(provinces, province) , prompt: '--省份--', class: ['city-select', 'city-province'] %>
  </div>
  <div class="field">
  
  <%= select_tag @order.city    , options_for_select(cities, city)        , prompt: '--城市--', class: ['city-select', 'city-city'] %>
  </div>
  <div class="field">
  
  <%= select_tag @order.district, options_for_select(districtes, district), prompt: '--地区--', class: ['city-select', 'city-district'] %>
  </div>
</div>
</div> 
<%end%>-->


<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label "姓名" %><br />
    <%= f.text_field :name, size: 40 %>
  </div>

  <div class="field">
    <%= f.label "联系方式" %><br />
    <%= f.text_field :phonenumber, size: 40 %>
  </div>
  <div class = "city-group"><%-
  province = '440000'
  city = '440300'
  district = '440305'
  provinces  = ChinaCity.list
  cities     = ChinaCity.list(province)
  districtes = ChinaCity.list(city)
%>
<div class='rails-helper city-group'>
  <div class="field">
    <%= f.label "省份" %><br />
  <%= select_tag @order.province, options_for_select(provinces, province) , prompt: '--省份--', class: ['city-select', 'city-province'] %>
  <%= @order.province%>
  <%f.text_field :province%>
  </div>
  <div class="field">
    <%= f.label "城市" %><br />
  <%= select_tag :city    , options_for_select(cities, city)        , prompt: '--城市--', class: ['city-select', 'city-city'] %>
   <%f.text_field :city%>
  </div>
  <div class="field">
    <%= f.label "地区" %><br />
  <%= select_tag :district, options_for_select(districtes, district), prompt: '--地区--', class: ['city-select', 'city-district'] %>
   <%f.text_field :district%>
  </div>
</div>
</div> 
<!-- 
   <div class="field",class = "city-select">
      <%= f.label "省份" %><br />
      <%= f.select :province, options_for_select(ChinaCity.list),prompt: '--省份--'%>
    
      </div>

      <div class="field",class = "city-select">
      <%= f.label "城市" %><br />
      <%= f.select :city, "<option>城市</option>",:class => 'city-select'%>

    </div>
    <div class="field",class = "city-select">
      <%= f.label "地区" %><br />
      <%= f.select :district,"<option>地区</option>",:class => 'city-select'%>
    </div> -->
   <!--   <select class = "city-select">
     <option> --省份--</option>
      <%= options_for_select(ChinaCity.list)%>
     </select>
     <select class = "city-select">
      <option> --城市--</option>
 
     </select> -->
<!-- 
     <select class = "city-select">
      <option> --地区--</option>
    
    </select>  -->
  <div class="field">
    <%= f.label :"详细地址" %><br />
    <%= f.text_area :address, rows: 3, cols: 40%>

  <!-- <div class="field">
    <%= f.label "支付方式" %><br />
    <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: '选择一种支付方式'%>
  </div> -->
  <div class="actions">
    <%= f.submit '提交订单'%>
  </div>
<% end %>
