<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>名字</th>
      <th>地址</th>
     <!--  <th>Email</th>
      <th>Pay type</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= link_to '查看详情', order %></td>
        <td><%= link_to '编辑', edit_order_path(order) %></td>
        <td><%= link_to '删除', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= will_paginate @orders %></p>
